body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    color: azure;
    text-align: center;
    font-size: 10vh;
    margin: 0 auto;
    margin-left: 2vw; 
    margin-right: 2vw; 
}
h2{
    color: azure;
    font-size: 5vh ;
}

ul{
    color: azure;
    margin-left: 5vw ;
    font-size: 3vh
}